*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 100%;
}

/*menu encabezado*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
/*cuando se desplaza hacia abajo*/
header.abajo{
    background: #aaa8a8;
    padding: 15px 20px;
}
/*diseño a la palabra Menu*/
header .logo{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
/*diseño a las palabras del Menu*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}



/*diseño de fondo de menu*/
.zona1{
    position: relative;
    width: 100%;
    height: 10vh;
    background: url(cat.jpg);
    background: linear-gradient(to right, rgb(95, 95, 133), rgb(238, 166, 179));
    background-size: cover;
    background-position: center center;
    
}
/*iconos redes sociales*/
.sectionPresentacion {
    font-size: 2.5em;

}
/*inico con primer sección de perfil*/
.cara {
    background: linear-gradient(to right, rgb(163, 163, 235), pink);
    margin-top: 80px;
    height: 550px;
    color: rgb(19, 18, 18);
    margin: 20px;
    margin-right: 30px;
    text-align: center;   
        
}
body{
    padding: 10px;
}
    /*los datos de primer sección*/
h1, h2, h3 {
    text-align: center;
    width: max-content;
    padding: 10px;
    font-weight: lighter;
    margin: 50px;
}
.header-subtitle {
    margin-top: 10px;
}
.cara h3 {
    margin-top: -50px;
}
    
/*Mi foto*/
#img1 {
border: 20px;
height: 450px;
width: 300px;
position: center;
margin-bottom: 0px;
margin-top: -200px;
}

/*secciones*/
#inicio, #section2, #section3, #section4, #section5 {
    margin: 50px;
    background-position: center center;
}
#section2 h3 {
    margin-top: 140px;
    font-size: 3rem;
    text-align: center;
}
#section4 p {
    margin-top: 300px;
}
/*titulos de las secciones*/

.container-fluid h1 {
    justify-content: center;
    text-align: center;
    font-weight: 900; /*negrilla*/
}
/*fondos de las secciones*/
#section2 {padding-top:50px;height:800px;color:black; background-color: #f1edf1;}
#section3 {padding-top:50px;height:800px;color: black; background-color: #f1edf1;}
#section4 {padding-top:50px;height:800px;color: black; background-color: #f1edf1;}
#section5 {padding-top:50px;height:800px;color: black; background-color: #f1edf1;}


/*imagenes*/
#img2 {
    border: 0px;
    height: 200px;
    width: 200px;
    position: relative;
    top: 100px; /* ajustar los valores para mover la imagen */
    left: 700px;
    margin-bottom: -400px;
    margin-top: 0px;
    
}
#img3 {
    border: 20px;
    height: 250px;
    width: 200px;
    position: relative;
    top: 350px; /* ajustar los valores para mover la imagen */
    left: 750px;
    margin-bottom: -230px;
    
}
#img4 {
    border: 20px;
    height: 250px;
    width: 200px;
    position: relative;
    top: -10px; /* ajustar los valores para mover la imagen */
    left: 700px;
    margin-bottom: -230px;
    
}
#img5 {
    border: 20px;
    height: 400px;
    width: 350px;
    position: relative;
    top: -100px; /* ajustar los valores para mover la imagen */
    left: 0px;
    margin-bottom: -230px;
    
}
.info {
    left: 700px;
    margin-right: 60px;
    margin-top: 100px;
    margin-left: 40px;
}
p{
    font-size: 2.1rem;
    text-align: center;
    margin-top: 0px;
}
/*inicio formulario*/
.sectionFinal{
    background: linear-gradient(to right, pink, rgb(163, 163, 235));
    margin: 20px;
    width: 600px;
    border-radius: 20px;
    text-align: center;
    margin-left: 800px;
    margin-top: -600px;
}
.container-form {
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.container-form form .campo1, .campo2, .campo3, .campo4, .container-form form textarea {
    width: 60%;
    padding: 15px 1px; 
    font-size: 14px; 
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: 0; 
}
.container-form form textarea {
    
    min-width: 50%; 
    min-height: 140px;
    max-height: 300px; 
}
.container-form .btn-enviar {
    height: 35px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: -100px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #140711; 
    border-color: #080207; 
    border-style: solid; 
    border-radius: 10px;  
    width: 50%;   
    cursor: pointer;
    color: #fdfcdc;  
}
.text-reset fw-bold{
    background-color: rgba(0, 0, 0, 0.05);
}
/*fin de formulario*/

/*sección sigueme*/
.sectionSigueme {
    text-align: center;
    font-size: 2em;
    margin-bottom: 100px;
}
.iconos1 {
    font-size: 2em;
    

}


footer{
    background: linear-gradient(to right, rgb(141, 140, 140), rgb(163, 163, 235));
    margin: 100px;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: -90px;
    width: 20%;
    
}
/*copyright*/
.copyright {
    font-size: 0.5em;
    position: fixed;
}
/*media Query*/
/* TABLET  */
@media  screen and (min-width:640px){
    /*Mi foto*/
#img1 {
    border: 20px;
    height: 450px;
    width: 300px;
    position: center;
    margin-bottom: 0px;
    margin-top: -200px;
    margin-right: -400px;
    
    }
    /*fondos de las secciones*/
#section2 {padding-top:100px;height:1000px;color:black; background-color: #f1edf1;}
#section3 {padding-top:150px;height:1000px;color: black; background-color: #f1edf1;}
#section4 {padding-top:50px;height:800px;color: black; background-color: #f1edf1;}
#section5 {padding-top:50px;height:1600px;color: black; background-color: #f1edf1;}

    #img2 {
        border: 0px;
        height: 200px;
        width: 150px;
        position: relative;
        top: 150px; /* ajustar los valores para mover la imagen */
        left: 700px;
        margin-bottom: 150px;
        margin-top: -200px;
        margin-right: -500px;
        margin-left: -400px;
        
    }
    #section2 {
        margin: 30px;
        text-size-adjust: 30px;    
    }
    #section3  {
        margin: 30px;
        text-size-adjust: 10px; 
        
        
    }
    p{
        font-size: 2.1rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    #img3 {
        border: 20px;
        height: 250px;
        width: 200px;
        position: relative;
        top: 300px; /* ajustar los valores para mover la imagen */
        left: 750px;
        margin-bottom: 300px;
        margin-top: -700px;
        margin-right: -500px;
        margin-left: -400px;
        
    }
    #img4 {
        border: 20px;
        height: 250px;
        width: 200px;
        position: relative;
        top: 3-40px; /* ajustar los valores para mover la imagen */
        left: 700px;
        margin-bottom: -230px;
        margin-top: -700px;
        margin-right: -500px;
        margin-left: -450px;
        
        
    }
    #img5 {
        border: 20px;
        height: 400px;
        width: 350px;
        position: relative;
        top: -10px; /* ajustar los valores para mover la imagen */
        left: 0px;
        margin-bottom: -230px;
        margin-top: -700px;
        margin-right: -200px;
        margin-left: 100px;
        
        
    }
    .info {
        left: 700px;
        margin-right: 60px;
        margin-top: 200px;
        margin-left: 100px;
    }
/*inicio formulario*/
.sectionFinal{
    background: linear-gradient(to right, pink, rgb(163, 163, 235));
    margin: 100px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    margin-left: 100px;
    margin-top: 100px;
    top: -100%;
}
.container-form {
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.container-form h2 {
    font-weight: 900; 
}

/*fin de formulario*/
footer{
    background: linear-gradient(to right, rgb(141, 140, 140), rgb(163, 163, 235));
    margin: 100px;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: -90px;
    width: 43%;
    
}
}
/* computador */
@media (width >= 1000px) {
    *menu encabezado*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
/*cuando se desplaza hacia abajo*/
header.abajo{
    background: #aaa8a8;
    padding: 15px 20px;
}
/*diseño a la palabra Menu*/
header .logo{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
/*diseño a las palabras del Menu*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}
/*diseño de fondo de menu*/
.zona1{
    position: relative;
    width: 100%;
    height: 10vh;
    background: url(cat.jpg);
    background: linear-gradient(to right, rgb(95, 95, 133), rgb(238, 166, 179));
    background-size: cover;
    background-position: center center;
    
}
/*iconos redes sociales*/
.sectionPresentacion {
    font-size: 2.5em;

}
/*inico con primer sección de perfil*/
.cara {
    background: linear-gradient(to right, rgb(163, 163, 235), pink);
    margin-top: 80px;
    height: 550px;
    color: rgb(19, 18, 18);
    margin: 20px;
    margin-right: 30px;
    text-align: center;   
        
}
body{
    padding: 10px;
}
    /*los datos de primer sección*/
h1, h2, h3 {
    text-align: center;
    width: max-content;
    padding: 10px;
    font-weight: lighter;
    margin: 50px;
}
.header-subtitle {
    margin-top: 10px;
}
.cara h3 {
    margin-top: -50px;
}
    
/*Mi foto*/
#img1 {
border: 20px;
height: 450px;
width: 300px;
position: center;
margin-bottom: 0px;
margin-top: -200px;
}

/*secciones*/
#inicio, #section2, #section3, #section4, #section5 {
    margin: 50px;
    background-position: center center;
}
#section2 h3 {
    margin-top: 140px;
    font-size: 3rem;
    text-align: center;
}
#section4 p {
    margin-top: 300px;
}
/*titulos de las secciones*/

.container-fluid h1 {
    justify-content: center;
    text-align: center;
    font-weight: 900; /*negrilla*/
}
/*fondos de las secciones*/
#section2 {padding-top:80px;height:800px;color:black; background-color: #f1edf1;}
#section3 {padding-top:80px;height:800px;color: black; background-color: #f1edf1;}
#section4 {padding-top:50px;height:800px;color: black; background-color: #f1edf1;}
#section5 {padding-top:50px;height:800px;color: black; background-color: #f1edf1;}


/*imagenes*/
#img2 {
    border: 0px;
    height: 200px;
    width: 200px;
    position: relative;
    top: -450px; /* ajustar los valores para mover la imagen */
    left: 700px;
    margin-bottom: -400px;
    margin-top: 300px;
    
}
#img3 {
    border: 20px;
    height: 250px;
    width: 200px;
    position: relative;
    top: -550px; /* ajustar los valores para mover la imagen */
    left: 750px;
    margin-bottom: -500px;
    margin-top: 400px;
    
}
#img4 {
    border: 20px;
    height: 250px;
    width: 200px;
    position: relative;
    top: -10px; /* ajustar los valores para mover la imagen */
    left: 900px;
    margin-bottom: -230px;
    
}
#img5 {
    border: 20px;
    height: 400px;
    width: 310px;
    position: relative;
    top: -200px; /* ajustar los valores para mover la imagen */
    left: -130px;
    margin-bottom: -400px;
    margin-right: -500px;
    
}
.info {
    left: 600px;
    margin-right: 100px;
    margin-top: 200px;
    margin-left: 30px;
}
p{
    font-size: 2.1rem;
    text-align: center;
    margin-top: 0px;
}
/*inicio formulario*/
.sectionFinal{
    background: linear-gradient(to right, pink, rgb(163, 163, 235));
    margin: 20px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    margin-left: 350px;
    margin-top: -660px;
}
footer{
    background: linear-gradient(to right, rgb(141, 140, 140), rgb(163, 163, 235));
    margin: 100px;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: -90px;
    width: 30%;
    
}
/*copyright*/
.copyright {
    font-size: 0.5em;
    position: fixed;
}
}
/* celulares */
@media (width >= 300px) {
    .contenedorProyecto {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }

}